
@{
    ViewBag.Title = "Create Account";
}

<div class="Jumbotron" id="create-account">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="centered">Create New User</h1>
        </div>        
    </div>
    <div class="row"><div class="col-xs-4">
        <label for="emailinput">Email</label>
        <input id="emailinput" class="form-control input-lg" v-model="email" type="text" placeholder="Email Address" /><br /> 
    </div></div>
    <div class="row"><div class="col-xs-4">
        <label for="passwordinput">Password</label>
        <input id="passwordinput" class="form-control input-lg" v-model="password" type="password" placeholder="Password" /><br />
        
    </div></div>
    <div class="row"><div class="col-xs-4">
        <button class="btn btn-success" @@click="create">Create Account</button>
        <div v-if="createAccountError" class="text-danger">{{createAccountError}}</div>

    </div></div>
</div>

@section scripts {
    <script>
        new Vue({
            el: "#create-account",
            data: function () {
                return {
                    email: null,
                    password: null,
                    createAccountError: null
                }
            },
            methods: {
                create: function () {
                    this.createAccountError = null;

                    $.post("API/User/CreateAccount", { email: this.email, password: this.password }, function (response) {
                        window.location = "/Account";
                    })
                        .fail(function (response) {
                            this.createAccountError = (response.responseJSON && response.responseJSON.message) ?
                                response.responseJSON.message :
                                "Error creating account";
                        }.bind(this));
                }
            }
        })
    </script>    
}