@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The World's Biggest Bank Ledger</h1>
    <p>State of the art banking software</p>
    <button type="button" class="btn btn-primary">Create Account &raquo;</button>
</div>