@{
    ViewBag.Title = "Login";
}


<div class="Jumbotron" id="login">
    <h1 class="centered">User Login</h1>
    Email: <input v-model="email" type="text" />
    Password: <input v-model="password" type="password" />
    <button @@click="login">Login</button>
</div>

@section scripts {
    <script>
        new Vue({
            el: "#login",
            data: function () {
                return {
                    email: null,
                    password: null
                }
            },
            methods: {
                login: function () {
                    $.post("API/User/Login", { email: this.email, password: this.password }, function (response) {
                        window.location = "/Account";
                    });
                }
            }
        })
    </script>
}